.settings-setting {
  padding: 30px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-setting i {
  margin-right: 10px;
  font-size: 22px;
}

.settings-setting__column:last-child {
  color: var(--lightgray);
}
