.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--gray);
  position: relative;
}

.nav__notification {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.nav__point {
  width: 5px;
  height: 5px;
  position: absolute;
  left: 30px;
  bottom: 25px;
}
